body{
	font-family: "Microsoft Yahei",sans-serif;
}

#pageColour {
  background-image: linear-gradient(#D8B5FF,#1EAE98);
}

#container {
  position: relative;
  min-height: 100vh;
}

#pageWrap {
  padding-bottom: 2.5rem;
}

#nav {
  height: 53px;
  width: 1250px;
  background-color: #404040;
}

#nav ul {
  list-style-type: none;
  margin: 15px;
  padding: 4px;
}
#nav ul li {
  float: left;
  padding: 10px;
  width: 152px;
}
#nav ul li a {
  text-decoration: none;
  line-height: 25px;
  color: white;
  font-weight: bold;
  font-family: Arial;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}
#nav ul li:hover {
  background-color: black;
}

#nav ul li a:hover {
  color: white;
}

#siteHeading {

	height:40px;
	color: black;
	text-align: center;
}

#pageHeading {
  text-align: center;
  width: 100%;
  font-family: Arial;
  font-size: 28px;
}

#subHeading {
  font-style: bold;
  font-size: 24px;
}
