body{
	font-family: "Microsoft Yahei",sans-serif;
}

#pageColour {
  background-image: linear-gradient(#868f96,#596164);
}

#container {
  position: relative;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

#pageWrap {
  padding-bottom: 2.5rem;
}

#nav {
  height: 53px;
  width: 100%;
  background-color: #404040;
}
#nav ul {
  list-style-type: none;
  margin: 15px;
  padding: 4px;
}
#nav ul li {
  float: left;
  padding: 10px;
  width: 115px;
}
#nav ul li a {
  text-decoration: none;
  line-height: 25px;
  color: white;
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
  display: inline-block;
  text-align: center;
}
#nav ul li:hover {
  background-color: black;
}

#nav ul li a:hover {
  color: white;
}

#siteHeading {

	height:40px;
	color: black;
	text-align: center;
}

#pageHeading {
  text-align: center;
  width: 100%;
  font-family: Arial;
  font-size: 28px;
}

#subHeading {
  font-style: bold;
  font-size: 24px;
}

#first{
	height: 3500px;
	background-color:#D8D8D8
}

#specialheading {
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    font-size: 40px;
    padding-top: 100px;
}

#g1,#g3,#g5{
	float: left;
}

#g2,#g4,#g6{
	float: right;
}

.ITTP{
    width: 50%;
    position: relative;
    left: 25%;
}